
h1{
    display: block;
    background:rgba(6, 12, 24, 0.767);
    text-align: center;
    margin-top: 0px;
    margin-bottom:0px;
    color: rgba(13, 39, 87, 0.979);
    font-size: 60px;

}
h2{
    text-align: center;
    color:black;
    font-size: 20px;
    border:none;
    padding: 0px;
    margin-left: auto;
    margin-top:0px;
    height: 100px;
    width: auto;
    background:rgba(76, 128, 223, 0.979);
    font-size: 60px;
   
}



.f1{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
    
}
.f2{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
    
}
.f3{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
.f4{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
.f5{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
.f6{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
.f7{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
.f8{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}.f9{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
.f10{
    margin-top: 2cm;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    padding: auto;
    height: 13cm;
    width: 13cm;
}
