#none1{
    text-decoration: none;
    text-align: center;
    display: block;
    height: 6cm;
    width: 12cm;
    font-size: 45px;
    color:black;
    

}
.book{
    margin-left: 11cm;
    margin-top: 4cm;
}

#none{
    text-decoration: none;}

#phone{
    border-radius: 40%; 
}