<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../cssjames/areaderegistro.css">
    <title>Login</title>
</head>

<body background="../imagenes valentina/aUtolike (4).png">

    <div id="container-gen">
        <div id="container-img">

            <img id="img" src="../imagenes valentina/aUtolike (1).png" alt="" >

        </div>
        <div id="containerData">

            <form action="">
                <div id="containerData1">
                <div id="container-name">

                    <div id="container-name-cont"><label for="txtNom" id="texNam">Nombres:</label></div>

                    <div> <input type="text" name="txtNom" id="txtNom"> </div>


                </div>

                <div id="container-apel">
                    <div><label for="txtApe" id="texAp">Apellidos:</label></div>

                    <div><input type="text" name="txtApe" id="txtApe"></div>

                </div>

                <div id="container-email">
                    <div><label for="txtCor" id="texCor">Correo:</label></div>
                    <div><input type="email" name="txtCor" id="txtCor"></div>

                </div>

                <div id="container-passw">
                    <div><label for="txtPass" id="texPass">Contraseña:</label></div>
                    <div><input type="password" name="txtCor" id="txtCor"></div>

                </div>
                <div id="containerB"><button id="btn-Reg">Registrarse</button></div>
            </div>
            </form>
        </div>


    </div>
    <script>
        
        // Your web app's Firebase configuration
        var firebaseConfig = {
          apiKey: "AIzaSyD-yqe_reyPwCyjCBjuu9QmfkCrs00QVGE",
          authDomain: "base-de-datos-6b557.firebaseapp.com",
          projectId: "base-de-datos-6b557",
          storageBucket: "base-de-datos-6b557.appspot.com",
          messagingSenderId: "198300522313",
          appId: "1:198300522313:web:10142b2fcc34f711e1ac98"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      </script>
</body>

</html>