<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        h1{
            color:white;
        }
    </style>
</head>
<body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg">

    
    <TITLE>Ubica tu AUTOlike</TITLE>
    <STYLE type="text/css">
     H1 { text-align: center}
    </STYLE>
    <H1> Ubica tu AUTOlike</H1>
    <p style="text-align:center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d278.53104031396254!2d-98.81760911632529!3d20.07338467699855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ae3a82e4adfcfaa!2sAutolike!5e0!3m2!1ses-419!2spe!4v1618937970557!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>

    
</body>
</html>