<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BUSCAR PRODUCTOS</title>
  <link rel="stylesheet" href="../css.selena/carlos.css">
</head>
<body>
  <body background="../imagenes valentina/aUtolike (4).png"> 
   
    <h1>BUSCAR PRODUCTOS</h1>


  <a href="../views/metododepago.html"><img class="selena" src="../Imagenes Carlos/alternador.jpg"  width="310"></a>
 
  <a href="../views/metododepago.html"><img class="baner" src="../Imagenes Carlos/catalizador.jpg"  width="310"></a>
  
<br>
  <a href="../views/metododepago.html"><img class="selena" src="../Imagenes Carlos/cinturon de seguridad.png"  width="310"></a>

  <a href="../views/metododepago.html"><img class="baner" src="../Imagenes Carlos/Cadena de Nieve.jpeg"  width="310"></a>
  <br>
  <a href="../views/metododepago.html"><img class="selena" src="../Imagenes Carlos/Asiento mas Timon.jpg"  width="310"></a>

  <a href="../views/metododepago.html"><img class="baner" src="../Imagenes Carlos/Bateria.jpg"  width="310"></a>
<br>
  <a href="../views/metododepago.html"><img class="selena" src="../Imagenes Carlos/bombas de agua.jpg"  width="310"></a>

  <a href="../views/metododepago.html"><img class="baner" src="../Imagenes Carlos/car smartphone.jpg"  width="310"></a>
  

      </body>
      </html>