<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DESCUENTOS</title>
    <link rel="stylesheet" href="../css.selena/carlos1.1.css">
  </head>
<body>
  <body background="../imagenes valentina/aUtolike (4).png"> 
    

  <h1>DESCUENTOS</h1>
  <article class= "selena"> 
    <article class="card">
      <img src="../Imagenes Carlos/exterminador de olores.jpg" alt="HAMBIENTADOR" class="img">
      <div class="contenedor">
          <h2 class="title">HAMBIENTADOR</h2>
          <p class="copy">$5</p>
          <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
      </div>
  </article></article>
  <br>
  <article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/cobertor impermeable.jpg" alt="Cobertor impermeable" class="img">
  <div class="contenedor">
      <h2 class="title">Cobertor impermeableE</h2>
      <p class="copy">$120</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena">
<article class="card">
  <img src="../Imagenes Carlos/Filtro de Aceite.jpg" alt="FILTRO DE Aceite" class="img">
  <div class="contenedor">
      <h2 class="title">FILTRO DE ACEITE</h2>
      <p class="copy">$80</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/Frenos.jpg" alt="FRENOS" class="img">
  <div class="contenedor">
      <h2 class="title">FRENOS</h2>
      <p class="copy">$80</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena">
<article class="card">
  <img src="../Imagenes Carlos/Deposito de Combustible de Valeo.png" alt="DEPOSITO DE COMBUSTIBLE" class="img">
  <div class="contenedor">
      <h2 class="title">DEPOSITO DE COMBUSTIBLE</h2>
      <p class="copy">$130</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/perilla.jpg" alt="PERILLA DE CAMBIOS" class="img">
  <div class="contenedor">
      <h2 class="title">PERILLA DE CAMBIOS</h2>
      <p class="copy">$85</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena">
<article class="card">
  <img src="../Imagenes Carlos/alternador.jpg" alt="ALTERNADOR" class="img">
  <div class="contenedor">
      <h2 class="title">ALTERNADOR</h2>
      <p class="copy">$260.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/Cadena de Nieve.jpeg" alt="CADENA DE NIEVE" class="img">
  <div class="contenedor">
      <h2 class="title">CADENA DE NIEVE</h2>
      <p class="copy">$80</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
      </body>
      </html>