<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
<body>
    <br>
    <br>
    <table>
        <tr>
            <th> <img src="../Imagenes Carlos/bombas de agua.jpg">
            <h2>Imagen referencial, producto (Bomba de Agua)</h2>
            <input type="submit" value="Comprar">
            </th>
        </tr>

    </table>
    
</body>
</html>