<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BUSCAR PRODUCTOS</title>
  <link rel="stylesheet" href="../css.selena/carlos.css">
</head>
<body>
  <body background="../imagenes valentina/aUtolike (4).png"> 
   
    <h1>BUSCAR PRODUCTOS</h1>
<article class= "selena"> 
    <article class="card">
      <img src="../Imagenes Carlos/alternador.jpg" alt="ALTERNADOR" class="img">
      <div class="contenedor">
          <h2 class="title">ALTERNADOR</h2>
          <p class="copy">S/100.00</p>
          <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
      </div>
  </article></article>
  <br>
  <article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/catalizador.jpg" alt="tubo de escape" class="img">
  <div class="contenedor">
      <h2 class="title">TUBO DE ESCAPE</h2>
      <p class="copy">S/120.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena">
<article class="card">
  <img src="../Imagenes Carlos/cinturon de seguridad.png" alt="cinturon de seguridad" class="img">
  <div class="contenedor">
      <h2 class="title">CINTURON DE SEGURIDAD</h2>
      <p class="copy">S/15.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/Cadena de Nieve.jpeg" alt="LLANTAS" class="img">
  <div class="contenedor">
      <h2 class="title">LLANTAS</h2>
      <p class="copy">S/150.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena">
<article class="card">
  <img src="../Imagenes Carlos/Asiento mas Timon.jpg" alt="REPUESTOS INTERNOS" class="img">
  <div class="contenedor">
      <h2 class="title">REPUESTOS INTERNOS</h2>
      <p class="copy">S/200.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/Bateria.jpg" alt="BATERIA" class="img">
  <div class="contenedor">
      <h2 class="title">BATERIA</h2>
      <p class="copy">S/100.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena">
<article class="card">
  <img src="../Imagenes Carlos/bombas de agua.jpg" alt="INFLADOR" class="img">
  <div class="contenedor">
      <h2 class="title">INFLADOR</h2>
      <p class="copy">S/150.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
<br>
<article class="selena1">
<article class="card">
  <img src="../Imagenes Carlos/car smartphone.jpg" alt="PORTA SMARTPHOME" class="img">
  <div class="contenedor">
      <h2 class="title">PORTA SMARTPHOME</h2>
      <p class="copy">S/50.00</p>
      <a href="../views/metododepago.html" class="llamada">COMPRAR</a>
  </div>
</article></article>
      </body>
      </html>