<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Autolike</title>
    <h1>AUTOlike</h1>
    <img src="./WhatsApp Image 2021-04-20 at 12.52.52 AM.jpeg" width="650">

<br>
<br>
<br>
     <header>
    <h2>Busca y/o selecciona tu AUTOpieza</h2>
    <ul>
      <li>
      <a href="./pieza1.png">Conoce tu AUTO</a>
    </li>
    </ul> 

      <br>

      <ul>
        <li>
      <a href="./pieza2.jpg">Piezas Universales</a>

      </li>

    </ul>
</header>

    <br>
    <br>
    <br>


        <h1>AUTOpiezas Disponibles</h1>
        <h2>Productos en Linea</h2>


        <br>
        <br>
        <br>

        <tr>
            
            <th>
                <a href="./Cadena de Nieve.jpeg">1.Cadena de Nieve</a>
                <br>
                <lu>
                    <li>
                <a href="https://www.youtube.com/watch?v=oeLyuayMNuI">1.1 Guia de usuario e Instalacion Cadena de Nieve</a>
                </li>
                </lu>
                <a href="./Deposito de Combustible de Valeo.png">2.Deposito de Combustible de Valeo</a> 
                <br>
    
                <a href="./Filtro de Aceite.jpg">3.Filtro de Aceite</a>
                <br>
                <lu>
                    <li>
                <a href="https://www.youtube.com/watch?v=Ei06jJKPZuY">3.1 Guia Cambio de Aceite</a>
                </li>
                 </lu>
                
                <a href="./Frenos.jpg">4. Frenos</a>
                <br>
                <lu>
                    <li>
                <a href="https://www.youtube.com/watch?v=9f94j9mdiOI&t=6s">4.1 Guia de Cambio de Freno</a>
                  </li> 
                  </lu>
                <a href="./Bateria.jpg">5.Bateria</a>
                <br>
                <a href="./perilla.jpg">6.Perilla</a>
                <br>
                <a href="./Asiento mas Timon.jpg">7.Asiento mas Timon</a>
                <br>
            </th>
          </tr>


        <table>

          
          <img src="./Cadena de Nieve.jpeg"  width="380">

        
          <img src="./Deposito de Combustible de Valeo.png" width="380"> 

          <img src="./Filtro de Aceite.jpg" width="380"  >

          <img src="./Frenos.jpg" width="380"> 

          <img src="./Bateria.jpg" width="380">

          <img src="./perilla.jpg" width="360">

          <img src="./Asiento mas Timon.jpg" width="410">



        </table>

         <br>
         <br>
         <br>
<header>
        <h1>Productos con descuentos sujeto a stock</h1>

    </header>
    <ul>
        <li>

        <a href="#"> Descuentos</a>

        </li>
  
      </ul>
      <tr>
        <th>
            <a href="./cinturon de seguridad.png">1.Cinturon de Seguridad</a>
            <br>
            <a href="./exterminador de olores.jpg">2.Exterminador de Olores</a> 
            <br>

            <a href="./cobertor impermeable.jpg">3.Cobertor Impermeable</a>
            <br>
            <a href="./catalizador.jpg">4.Catalizador</a>
            <br>
            <a href="./bombas de agua.jpg">5.Bombas de Agua</a>
            <br>
            <a href="./car smartphone.jpg">6.Porta Smartphone</a>
            <br>
            <a href="./trsmisor fm.jpg">7.Trasmisor Radio FM</a>
            <br>
        </th>
      </tr>

        <br>
        <br>
        <br>

        <table>

            <img src="./cinturon de seguridad.png" width="380">
            <img src="./exterminador de olores.jpg" width="320">
            <img src="./cobertor impermeable.jpg" width="410">
            <img src="./catalizador.jpg" width="310">
            <img src="./bombas de agua.jpg" width="310">
            <img src="./car smartphone.jpg" width="350">
            <img src="./trsmisor fm.jpg" width="350">
            

        </table>




        <br>
        <br>
        <br>

        <header>
   <h2>Ubica tu AUTOlike</h2>
   <ul>
    <li>
    <a href="https://www.google.com/maps/place/Autolike/@20.0734576,-98.8175305,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipOgoSJKrTK2IMU2DL_K57kDrLmk1Qh2km4AtHh_!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOgoSJKrTK2IMU2DL_K57kDrLmk1Qh2km4AtHh_%3Dw530-h298-k-no!7i2592!8i1456!4m11!1m2!2m1!1sautolike!3m7!1s0x0:0x1ae3a82e4adfcfaa!8m2!3d20.0734576!4d-98.8175305!14m1!1BCgIgAQ!15sCghhdXRvbGlrZZIBD3Nob3BwaW5nX2NlbnRlcg"> Ubicanos y Conocenos</a>

        <br>
        <br>
        <br>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d278.53104031396254!2d-98.81760911632529!3d20.07338467699855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ae3a82e4adfcfaa!2sAutolike!5e0!3m2!1ses-419!2spe!4v1618937970557!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </li>

  </ul>

</header>

<br>
<br>

<p>DERECHOS RESERVADOS</p>
<p>AUTOlike Estudio 2021 </p>
<p>Buscanos en todas nuestras redes como AUTOlike</p> 
<br>
<ul>
    <li>
  <a href="https://www.facebook.com/autolike.binche">facebook</a>

  </li>

</ul>



</head>
<body>
    
</body>
</html>