<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <body background="../imagenes valentina/aUtolike (4).png"> 
  <HEAD>
      <TITLE>DESCUENTOS</TITLE>
      <STYLE type="text/css">
       H1 { text-align: center}
      </STYLE>
  <h1>DESCUENTOS</h1>
  

  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/exterminador de olores.jpg"  width="310"></a>
 
  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/cobertor impermeable.jpg"  width="310"></a>
  
<br>
  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/Filtro de Aceite.jpg"  width="310"></a>

  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/Frenos.jpg"  width="310"></a>
  <br>
  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/Deposito de Combustible de Valeo.png"  width="310"></a>

  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/perilla.jpg"  width="310"></a>
<br>
  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/alternador.jpg"  width="310"></a>

  <a href="../views/metododepago.html"><img src="../Imagenes Carlos/Cadena de Nieve.jpeg"  width="310"></a>
  

      </body>
      </html>