<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CONTACTANOS</title>
        <link rel="stylesheet" href="../css.selena/carlos1.5.css">
      </head> 
<body>
     
    <h1>SUGERENCIAS</h1>
    <body background="../imagenes valentina/aUtolike (4).png"> 
    
    
    <p style="text-align:center"><textarea cols="30" rows="10"></textarea></p>
    
        <br>
        <p style="text-align:center"><button><a href="../views/selena.html">GRACIAS</a></button></p>
        <br>
    
</body>
</html>