<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      h1{
        color:white;
      }
    </style>
</head>
<body>
  <body background="../imagenes valentina/aUtolike (4).png"> 
    
    <h1>Contáctanos</h1>
<br>
<br>

<form>
  
  <p style="text-align:center"><label for="nombre1"> Claro</label><button>+51000</a></button></p>
  

  <form>
    
    <p style="text-align:center"><label for="nombre1"> Movistar</label><button>+51111</a></button></p>


  <br>
  <br>

  <form>
   
    <p style="text-align:center"><label for="nombre1"> Ubicanos</label><button>Av 1ero de Mayo 2555</a></button></p>

    <form>
      
      <p style="text-align:center"><label for="nombre1"> Ubicanos</label><button>Av Francisco Pizarro 147</a></button></p>
      
      <br>
      <br>

      <form>
       
        <p style="text-align:center"><label for="nombre"> E-mail</label><button>autolike_motors@gmail.com</a></button></p>
  

        <form>
          <p style="text-align:center"><label for="nombre"> E-mail</label><button>autolike@gmail.com</a></button></p>
  
          
  

</body>
</html>