<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
<body>
    <br>
    <br>
    <table>
        <tr>
            <th> <img src="../Imagenes Carlos/perilla.jpg">
            <h2>Imagen referencial, producto (Perilla)</h2>
            <h1>Costo: s/39.00</h1>
            <button><a href="../views/metododepago.html">Comprar</a></button>
            </th>
        </tr>

    </table>
    
</body>
</html>