<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar facturas</title>
    <style>
        p{text-align-last: center;}
        nav{text-align: center;;}
    </style>
</head>
<body>
    <p>
        <img src="../Images James/factura.jpg"width="500" alt="no hay factura">
    </p>
    
    <br><br>
    <p>
        <a href="#"><img src="../Images James/download.jpg"width="100" alt=""></a>
    </p>

    <br>
    <nav>
        <a href="../views/facturas.html">Ver todas las facturas</a>
    </nav>
    
</body>
</html>