<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>llenar formulario</title>
    <link rel="stylesheet" href="../cssjames/formulario.css">
</head>
<body>
    <h1>AUTOLIKE</h1>
    <h2>COMPRAS</h1>
    <br>
    <form action="">
        <h3>LLene el siguiente formulario:</h3>
        <label for="fName"><h4>Nombres y apellidos: </h4></label>
        <input type="text" class="fName" id="fName">
        <label for=""><h4>Dirección:</h4></label>
        <table>
           <label for=""> <tr>
                <td>Departamento:</td>
                <td>Provincia:</td>
                <td>Calle:</td>
            </tr></label>
            <tr>
                <td><input type="text" class="dirDep" id="dirDep"></td>
                <td><input type="text" class="dirDis" id="dirDis"></td>
                <td><input type="text" class="dircal" id="dircal"></td>
            </tr>
        </table>
        <label for=""><h4>Correo electronico:</h4></label>
        <input type="email" name="" class="fMail" id="fMail" >
   
        <br><br>
       

    
    <a href=""></a>
 
        <a  href="../views/ingresartargeta.html"><img class="listo" src="../Images James/Confirmar.jpg"alt="no hay logo" value="Registrar" name="btnRegistrar" id="btnRegistrar" onclick="registrar()";> </a>
            
        
    </form>

    <script src="../javascriptjames/formulario compras.js"></script>
</body>
</html>