<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <title>facturas</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>
    <h1>Facturas</h1>
    <table>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img src="../Images James/factura.jpg" alt="no hay factura"></a>
    </table>
</body>
</html>