<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facturas</title>
    <link rel="stylesheet" href="../cssjames/facturas.css">
   
</head>
<body>
    <h1>autololike</h1>
    <h2>Facturas</h2>
    

    
        <a href="../views/descargarfacturas.html"><img class="f1" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f2" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f3" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f4" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f5" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f6" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f7" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f8" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f9" src="../Images James/factura.jpg" alt="no hay factura"></a>
        <a href="../views/descargarfacturas.html"><img class="f10" src="../Images James/factura.jpg" alt="no hay factura"></a>
   
</body>
</html>