<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar targeta</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"> 
    <br><br>
    <h1>Ingresar n° de tarjeta</h1>
    <p style="text-align:center"><input placeholder="Número de targeta"p>
    <br><br>
    <h1>Ingresar mm-aa</h1>
    <p style="text-align:center"><input placeholder="mm-aa"p>
    <br><br>
    <h1>Ingrese cvv</h1>
    <p style="text-align:center"><input placeholder="xxx"p>
    <br><br><br>
    <a href="../views/descargarfacturas.html"><img src="../Images James/Confirmar.jpg"width="60"  alt="no hay logo"></a>
</body>
</html>