<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar targeta</title>
    <link rel="stylesheet" href="../cssjames/ingresartargeta.css">
</head>
<body>
<form onsubmit="return validacion()" id="form">
    <h1>autololike</h1>
    <img class="logo" src="../Images James/aUtolike (31).png" alt="no hay logo">
    <br><br>
    <h2>Ingresar n° de tarjeta</h1>
    <input class="tex" placeholder="Número de tarjeta "type="number" id="tG" >
    <br><br>
    <h2>Ingrese cvv</h1>
    <input class="tex" placeholder="xxx" type="number" data-mask="999" max="999" minlength="1" id="cV" maxlength="20" >
    <br><br><br>

    <button  value="Registrar" name="btnRegistrar" id="btnRegistrar" type="submit" > Enviar

    </button>
   
    
 

   <script src="../javascriptjames/ingresartargeta.js"></script>
</body>
</html>