<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar targeta</title>
    <link rel="stylesheet" href="../cssjames/ingresartargeta.css">
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"> 
    <br><br>
    <h2>Ingresar n° de tarjeta</h1>
    <p><input placeholder="Número de targeta"p>
    <br><br>
    <h2>Ingrese cvv</h1>
    <p><input placeholder="xxx"p>
    <br><br><br>
    <a href="../views/descargarfacturas.html"><img src="../Images James/Confirmar.jpg"width="60"  alt="no hay logo"></a>
</body>
</html>