<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz del dueño</title>
    <style>
        h1 {
            color: white;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css">
</head>
<body background="../imagenes valentina/aUtolike (4).png">
    <h1 style="font-size: 60px;margin-left: 13cm;">Bienvenido</h1>
    <div style="margin-left: 12cm; margin-top: 2cm;">
    <div style="background-color: cornsilk; width: 10cm; border-radius: 8px;" ><h2  style="font-size: 40px;">Cargar productos</h2></div>
    <a href="../views/baseDtos.html"><button style="background-color: chocolate; border-radius: 13px; width: 2cm; height: 1cm;">Cargar</button> </a>
    <div style="background-color: cornsilk; width: 10cm; margin-top: 2cm;"><h2 style="font-size: 40px;">lista de reclamos</h2></div>
    <a href="../views/verReclamos.html" ><button  style="background-color: chocolate;border-radius: 13px;width: 2cm; height: 1cm;"> ver</button></a>
    </div>
</body>
</html>