<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
    <title>Preguntas Frecuentes</title>

</head>
<body>
    <h1><p style="text-align:center">PREGUNTAS FRECUENTES</p></h1>
    <br>
    <p style="text-align:center"><button><a href="../views/pregunta1njose.html">PREGUNTA 1</a></button></p>
    <p style="text-align:center"><button><a href="../views/pregunta1njose.html">PREGUNTA 2</a></button></p>
    <p style="text-align:center"><button><a href="../views/pregunta1njose.html">PREGUNTA 3</a></button></p>   
    <p style="text-align:center"><button><a href="../views/pregunta1njose.html">PREGUNTA 4</a></button></p>   
    <p style="text-align:center"><button><a href="../views/pregunta1njose.html">PREGUNTA 5</a></button></p>   
 
</body>
</html>
