<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
        <title>preguntas frecuentes</title>
        <link rel="stylesheet" href="../css.selena/jose.css">
      </head> 
<body>
    <body background="../imagenes valentina/aUtolike (4).png">
    <h1>PREGUNTAS FRECUENTES</h1>
    <br>
  <H2><a href="../views/pregunta1.html" class="preguntas">¿CADA  CUANTO TIEMPO DEBO DARLE MANTENIMIENTO A MI AUTO?</a></H2>
    <H2><a href="../views/pregunta1njose.html" class="preguntas">¿Que debo hacer si se enciende la luz de temperatura alta de aceite? </a></H2>
    <H2><a href="../views/pregunta1njose.html" class="preguntas">Lorem ipsum dolor sit amet consectetu?.</a></H2>  
    <H2><a href="../views/pregunta1njose.html" class="preguntas">Lorem ipsum dolor sit, amet consectetur adipisic?.</a></H2>   
    <H2><a href="../views/pregunta1njose.html" class="preguntas">Lorem ipsum dolor sit amet consectetur adipisicing elit?</a></H2>   
 
</body>
</html>
