<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRO DE RECLAMACIONES</title>
</head>
<body>
    <h1><p style="text-align:center">LIBRO DE RECLAMACIONES</p></h1>
    <p style="text-align:center"><textarea cols="30" rows="10"></textarea></p>
        
        <br>
        <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/selena5.html">Enviar Comentario</a></button></p>
        <br>
</body>
</html>