<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
    <title>LIBRO DE RECLAMACIONES</title>
</head>
<body>
    <TITLE>LOBRO DE RECLAMACIONES</TITLE>
    <STYLE type="text/css">
     H1 { text-align: center}
    </STYLE>
    <h1><p style="text-align:center">LIBRO DE RECLAMACIONES</p></h1>
    <p style="text-align:center"><textarea cols="30" rows="10"></textarea></p>
        
        <br>
        <p style="text-align:center"><button><a href="../views/selena5.html">Enviar Comentario</a></button></p>
        <br>
</body>
</html>