<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../cssjames/metododepago.css">
    <title>Medio de pago</title>
    <style>
        h1{text-align: center; ;}
    </style>
    <style>
        h1{
            color:white; 
        }
        h3{
            color:white;
        }
    </style>
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <h1>Medios de pago</h1>
    <br>
   
   <div id="fondo">
        <div class="viza">

            <a href="../views/direccion.html" ><img src="../Images James/Visa.png" alt="no hay logo"></a>

       </div>

       <div class="credimas">
             <a href="../views/direccion.html" ><img src="../Images James/Credimas.png" alt="no hay logo"></a>
       </div>
       
       <div>
            <a href="../views/direccion.html" class="yape"><img src="../Images James/Yape.png" alt="no hay logo"></a>
       </div>
       <div>
            <a href="../views/direccion.html" class="mastercard"><img src="../Images James/Mastercard.png" alt="no hay logo"></a>
       </div>   
        <div>
            <a href="../views/direccion.html" class="plin"><img src="../Images James/Plin.jpg"width="150" alt="no hay logo"></a> 
       </div> 
   </div>
   

</body>
</html>