<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Medio de pago</title>
    <style>
        h1{text-align: center; ;}
    </style>
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <h1>Medios de pago</h1>
    <br>
    <h3>Elegir targeta:</h3>
   <nav>
       <table>
            <a href="../views/direccion.html"><img src="../Images James/Visa.png"width="250" alt="no hay logo"></a>

            <a href="../views/direccion.html"><img src="../Images James/Credimas.png"width="250" alt="no hay logo"></a>

            <a href="../views/direccion.html"><img src="../Images James/Yape.png"width="250" alt="no hay logo"></a>

            <a href="../views/direccion.html"><img src="../Images James/Mastercard.png"width="250" alt="no hay logo"></a>
           
            <a href="../views/direccion.html"><img src="../Images James/Plin.jpg"width="150" alt="no hay logo"></a>
        </table>
   </nav>
</body>
</html>