<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>siguenos</title>
    <link rel="stylesheet" href="../cssjames/siguenos.css">
</head>
<body>

    <h1>autololike</h1>
    <h2>Siguenos en redes</h2>
       
    
       <a class=" face" href="https://www.facebook.com/autolike.binche"><img src="../Images James/facebok.png" alt="FACEBOOK"></a>
        
        <a class="twiter" href="https://twitter.com/autolikes27?lang=es"><img src="../Images James/twiter.png" alt="twiter"></img></a>
       
    <a class="inst" href="https://www.instagram.com/autolike.srl/?hl=es-la"><img src="../Images James/instag.jpg"alt="instagram"></a> 
        
        
</body>
</html>