<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>siguenos</title>

</head>
<body>
    <body>
        <h1><p style="text-align:center">SIGUENOS</p></h1>
       <br>
       <p style="text-align:center"><button><a href="https://www.facebook.com/autolike.binche"><img src="../imagenes jose/Facebook.png" width="110px" alt="FACEBOOK"></a></button></p>
        <br>

        <p style="text-align:center"><a href="https://www.youtube.com/channel/UC6RamikCEXxEYF8akat4hJw"><img src="../imagenes jose/YUTUBE.jpg" width="200px"alt="YOUTUBE"></a></p>
    
        <p style="text-align:center"><a href="https://www.instagram.com/autolike.srl/?hl=es-la"><img src="../imagenes jose/instagram.png" width="110px"alt="INSTAGRAM"></IMG></a></p>
        <br>
        <p style="text-align:center"><a href="https://www.tiktok.com/@auto.like____?lang=es"><img src="../imagenes jose/Tik-Tok-Logotipo.jpg"width=220px alt="TIK TOK "></a></p>
        <br>
        
</body>
</html>