<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pregunta1</title>
</head>
<body>
    <h2>Pregunta 1</h2>
    <h3>¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nisi nihil?</h3>
    <br>
    <textarea cols="30" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero labore eligendi, iure blanditiis veniam quaerat, similique minus quam vero dolorem eius esse vitae ipsa reiciendis porro amet animi commodi?</textarea>
    <br><br><br>
    <h4>¿La informacion le ayudo<h4>
        <input type="radio"> SI
        <input type="radio"> NO
        <p><a href="#">Gracias</a></p>
        
</body>
</html>