<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
    <title>pregunta1</title>
</head>
<body>
    <p style="text-align:center">¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nisi nihil?</p>
    <br>
    <p style="text-align:center"><textarea cols="30" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero labore eligendi, iure blanditiis veniam quaerat, similique minus quam vero dolorem eius esse vitae ipsa reiciendis porro amet animi commodi?</textarea></p>
    <br><br><br>
    <p style="text-align:center">¿La informacion le ayudo</p>
        <p style="text-align:center"><input type="radio"> SI
        <input type="radio"> NO</p>
        <p style="text-align:center"><button><a href="../views/selena.html">GRACIAS</a></button></p>
    
       
</body>
</html>