<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <title>pregunta1</title>
</head>
<body>
    <p style="text-align:center">¿CADA  CUANTO TIEMPO DEBO DARLE MANTENIMIENTO A MI AUTO?</p>
    <br>
    <p style="text-align:center"><textarea cols="30" rows="10">Para tener un auto  estable sin tener problemas, se tiene que hacer mantenimiento cada seis meses asi podra estar altanto de su auto</textarea></p>
    <br><br><br>
    <p style="text-align:center">¿La informacion le ayudo</p>
        <p style="text-align:center"><input type="radio"> SI
        <input type="radio"> NO</p>
        <p style="text-align:center"><button><a href="../views/selena.html">GRACIAS</a></button></p>
<body>
<html>      
    