<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>PREGUNTA 1</title>
    <link rel="stylesheet" href="../css.selena/pregunta1.css">
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png">
    <H1>¿CADA  CUANTO TIEMPO DEBO DARLE MANTENIMIENTO A MI AUTO?</H1>
    <br>
    <p style="text-align:center"><textarea cols="30" rows="10">Para tener un auto  estable sin tener problemas, se tiene que hacer mantenimiento cada seis meses asi podra estar altanto de su auto</textarea></p>
    <br><br><br>
    <ARticle class="SELENA"><p style="text-align:center">¿La informacion le ayudo</p></ARticle>
        <ARticle class="SELENA"><p style="text-align:center"><input type="radio"> SI
        <input type="radio"> NO</p></ARticle>
        <a href="../views/metododepago.html" class="llamada">GRACIAS</a>
<body>
<html>      
    