<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>cambios guardados</title>
    <link rel="stylesheet" href="../cssjames/valentina2.css">
    <script src="../javascript.selena/selena5.js"></script>
    <script>
        alert("Quieres actulizar los datos");//1 y 2
        document.write("lo que tu quieras");
    </script>
</head>

<body>
    <body background="../imagenes valentina/aUtolike (4).png"> 
    <p class="book"> <button><a id="none1" href="../views/selena.html">Cambios
        <br>
         guardados con 
         <br>
        Éxito</a></button></p>
     <br>
</body>
</html>