<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso de autolike</title>
    <style>
        h1{
            color:white;
        }
    </style>
<body>
    <body background="../imagenes valentina/aUtolike (4).png">
    <h1><p style="text-align:center">BIENVENIDOS AL USUARIO</p></h1>
   <br>
   <p style="text-align:center"><button><a href="../views/selena2.html">Configuracion</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/carlos.html">Productos</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/facturas.html">Facturas</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/libro de reclamaciones.html">Libro de Reclamaciones</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/carlos2.html">Sugerencias</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/nJOSE.html">SIGUENOS EN NUESTRAS REDES</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/carlos1.html">CONTACTANOS</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/xd.html">Trabaja con nosotros</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="../views/xd3.html">MANUAL DE USUARIO</a></button></p>
</body>
</html>