<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cambio de contraseña</title>
</head>
<body>
    <br>
    <p style="text-align:center"><input placeholder="Antigua Contraseña"></p>
    <br>
    <p style="text-align:center"><input list="countries" placeholder="Nueva Contraseña"></p>
    <br>
    <p style="text-align:center"><button><a href="https:/www.guardarcambios.com">Guardar Cambios</a></button></p>
     <br>
    
</body>
</html>