<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuracion de autolike</title>
</head>
<body>
    <br>
    <p style="text-align:center"><button><a href="../views/selena4.html">Cambiar de contraseña</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="../views/selena3.html">Cambiar de correo</a></button></p>
     <br>
    
</body>
</html>