<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cambios guardados</title>
    <link rel="stylesheet" href="../cssjames/valentina2.css">
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"> 
    <p class="book"> <button><a id="none1" href="../views/selena.html">Cambios
        <br>
         guardados con 
         <br>
        Éxito</a></button></p>
     <br>
</body>
</html>