<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso de autolike</title>
<body>
    <h1><p style="text-align:center">BIENVENIDOS AL USUARIO</p></h1>
   <br>
   <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/selena2.html">Configuracion</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/carlos.html">Productos</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/facturas.html">Facturas</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/jose.html">Preguntas Frecuentes</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/libro%20de%20reclamaciones.html">Libro de Reclamaciones</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="file:///C:/Users/selen/OneDrive/Documentos/GitHub/SelenaBrillit.github.io/views/carlos2.html">Sugerencias</a></button></p>
    <br>
</body>
</html>