<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso de autolike</title>
<body>
    <h1><p style="text-align:center">BIENVENIDOS AL USUARIO</p></h1>
   <br>
   <p style="text-align:center"><button><a href="https:/www.configuracion.com">Configuracion</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="https:/www.productos.com">Productos</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="https:/www.facturas.com">Facturas</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="https:/www.PreguntasFrecuentes.com">Preguntas Frecuentes</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="https:/www.librodereclamaciones.com">Libro de Reclamaciones</a></button></p>
    <br>
    <p style="text-align:center"><button><a href="https:/www.sugerencias.com">Sugerencias</a></button></p>
    <br>
</body>
</html>