<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina 3</title>
    <body>
    
<body background="../imagenes valentina/aUtolike (1).png"> 
    <br>
    <input type="text"placeholder="Autolike" >
    <p type="text"><button><a href="../views/valentina3.html">Iniciar Sesion</a></button></p> 
    <p type="text"><button><a href="../views/carlos.html">Productos</a></button></p>
    <p type="text"><button><a href="../views/carlos.html">Ofertas</a></button></p> 
    <p type="text"><button><a href="../views/jose.html">Ofertas</a></button></p>  
    <br>
<br>
<br>
<br>
<textarea cols="9" rows="3">Producto 1</textarea> 
<br>
<select>
    <option>s/99</option>
    <option>s/120</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 2</textarea>
<br>
<select>
    <option>s/120</option>
    <option>s/200</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 3</textarea>
<br>
<select>
    <option>s/220</option>
    <option>s/240</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 4</textarea>
<br>
<select>
    <option>s/210</option>
    <option>s/250</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 5</textarea>
<br>
<select>
    <option>s/320</option>
    <option>s/250</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 6</textarea>
<br>
<select>
    <option>s/280</option>
    <option>s/240</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 7</textarea>
<br>
<select>
    <option>s/310</option>
    <option>s/250</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 8</textarea>
<br>
<select>
    <option>s/110</option>
    <option>s/250</option>
</select>
<br>
<textarea cols="9" rows="3">Producto 9</textarea>
<br>
<select>
    <option>s/100</option>
    <option>s/250</option>
</select>
<br>
<p style="text-align:center"><button><a href="https://www.whatsapp.com/download/?lang=es">LLAMAR</a></button></p>
</body>
</html>