<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 4</title>
</head>
<body>
<body background="../imagenes valentina/aUtolike.png">
</body>
<p style="text-align:center"><input placeholder="INICIAR SESION"></p>
<br>
<p style="text-align:center"><input placeholder="USUARIO"></p>
<br>
<p style="text-align:center"><input placeholder="CONTRASEÑA"></p>
<br>
<p style="text-align:center"><input placeholder="REGISTRATE"></p>
<br>
<p style="text-align:center"><input placeholder="UNETE A FACEBOOK"></p>
</body>
</html>