<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <title>Pagina 4</title>
</head>
    
<body>
        <TITLE>INICIAR SESION</TITLE>
        <STYLE type="text/css">
         H1 { text-align: center}
        </STYLE>
       
        <H1> INICIAR SESION</H1>
<br>
<p style="text-align:center"><input placeholder="USUARIO"></p>
<p style="text-align:center"><input type="password"placeholder="CONTRASEÑA"></p>
<br>
<p style="text-align:center"><button><a href="../views/selena.html">REGISTRARSE</a></button></p>
</body>
</html>