<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <title>Pagina 3</title>
    <body>
        <TITLE>AUTOlike</TITLE>
        <STYLE type="text/css">
         H1 { text-align: center}
        </STYLE>
        <style>
            h1{
                color:white;
            }
        </style>
    
    <h1>AUTOlike</h1>
    <br>
    <p style="text-align:center"><button><a href="../views/valentina3.html">INCIAR SESION</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="../views/carlos.html">PRODUCTOS</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="../views/carlos1.1.html">OFERTAS</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="../views/jose.html">PREGUNTAS 
      <br>
        FRECUENTES</a></button></p>
     <br>
<br>
<br>                                  
<br>
<p style="text-align:right"><a href="../views/valentina 1.2.html"><img src="../imagenes valentina/telefonito.jpeg"width=50px alt="LLAMAR"></a></p>


</body>
</html>