<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
    <title>Pagina 4</title>
</head>
<body>
    <HEAD>
        <TITLE>INICIO</TITLE>
        <STYLE type="text/css">
         H1 { text-align: center}
        </STYLE>
       <BODY>
        <H1> INICIO</H1>
  
    <body background="../imagenes valentina/aUtolike (1).png"> 

</body>
<p style="text-align:center"><input placeholder="INICIAR SESION"></p>
<br>
<p style="text-align:center"><input placeholder="USUARIO"></p>
<br>
<p style="text-align:center"><input type="password"placeholder="CONTRASEÑA">
<br>
<br>
<p style="text-align:center"><input placeholder="REGISTRATE"></p>
<br>
<p style="text-align:center"><input placeholder="UNETE A FACEBOOK"></p>
<br>
<p style="text-align:center"><input type="date" name="" id=""></p>
<br>
<p style="text-align:center"><select>
    <option>Perú</option>
    <option>Ecuador</option>
    <option selected>Chile</option>
</select>
<br>
<br>
<p style="text-align:center"><button><a href="file:///C:/Users/VALENTINA/Downloads/SelenaBrillit.github.io/views/valentina2.html">Enviar</a></button></p>
</body>
</html>