<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagina 2</title>
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"> 
    <HEAD>
        <TITLE>LLAMANOS</TITLE>
        <STYLE type="text/css">
         H1 { text-align: center}
        </STYLE>
       
        <H1>LLAMANOS</H1>
        
        <STYLE type="text/css">
            H2 { text-align: center}
           </STYLE>
<br>
<HEAD>
    <h2>Auto kit
<br>
        llamando...</h2>
    <TITLE>+51925475453</TITLE>
    <STYLE type="text/css">
     H3 { text-align: center}
    </STYLE>
   
    <H3>+51925475453</H3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style="text-align:center"><a href="https://www.whatsapp.com/download/?lang=es"><img src="../imagenes valentina/telefonito.jpeg"width=50px alt="LLAMAR"></a></p>
     
     

</body>
</html>