<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autolike</title>
 

</head>



<body>
  <body background="../imagenes valentina/aUtolike (4).png"></body>
  <h1 style="text-align: center;
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);">Area de visualizacion de reclamos</h1>
  


  <div id="imagenes"  >
  <link rel="stylesheet" href="../cssjames/jcarlos.css">
    


  </div >




<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>


<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD-yqe_reyPwCyjCBjuu9QmfkCrs00QVGE",
    authDomain: "base-de-datos-6b557.firebaseapp.com",
    projectId: "base-de-datos-6b557",
    storageBucket: "base-de-datos-6b557.appspot.com",
    messagingSenderId: "198300522313",
    appId: "1:198300522313:web:10142b2fcc34f711e1ac98"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

</script>

<script src="../javascriptjames/verReclamos.js"></script>


</body>


</html>