<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabaja con nosotros</title>
    <style>
        h1{
            color:white;
        }
    </style>
</head>
<body>
    <body background="../imagenes valentina/aUtolike (4).png"></body>
    <h1><p style="text-align:center">TRABAJA CON NOSOTROS</p></h1>
    <br>
    <p style="text-align:center"><button><a href="https:/www.ingresatusdatos.com">Ingresa tus Datos</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="https:/www.refiereaunamigo.com">Refiere a un amigo</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="https:/www.escojetusededetrabajo.com">Escoje tu Sede de Trabajo</a></button></p>
     <br>
    
</body>
</html>