<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabaja con nosotros</title>
</head>
<body>
    <body background="https://i.pinimg.com/236x/e4/37/76/e43776c725001b8a0c71a17fb7cd8cb2.jpg"></body>
    <h1><p style="text-align:center">TRABAJA CON NOSOTROS</p></h1>
    <br>
    <p style="text-align:center"><button><a href="https:/www.ingresatusdatos.com">Ingresa tus Datos</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="https:/www.refiereaunamigo.com">Refiere a un amigo</a></button></p>
     <br>
     <p style="text-align:center"><button><a href="https:/www.escojetusededetrabajo.com">Escoje tu Sede de Trabajo</a></button></p>
     <br>
    
</body>
</html>