<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuelva pronto</title>
</head>
<link rel="stylesheet" href="../cssjames/grcias.css">
<body>
    <h1>autololike</h1>
    <img class="logo" src="../Images James/aUtolike (31).png" alt="no hay logo">
    <img class="gracias"  src="../Images James/Gracias-por-tu-compra-2.jpg" alt="">
    <a class="boton"  href="../views/descargarfacturas.html">ver factura</a>
</body>
</html>