<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manual de usuario</title>
    <link rel="stylesheet" href="../cssjames/manual.css">
</head>

<body>
    <h1>autololike</h1>
    <h2>Manual de usuario</h2>
    
   <br>
  
    <video  src="/assets/HTML 5 Video.mp4" controls poster="../Images James/aUtolike (3).png"></video>
   
   <a class="boton"  href="../views/carlos.html">Volver a productos</a>
</body>
</html>