#c{
    display:block;
    margin-left: 3cm;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.color{
    display: block;
    color: white;
    margin-right:0px ;
}
.acep{
    color: white;
    text-decoration: none;
}
.o{
    margin-right:0px;
    ;
}